.main {
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 16px;
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  margin: 24px;
}

.upload-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-button {
  margin: 16px;
}
