<div class="main">
  <div class="title-container">
    <h1 class="title">Stop Watch</h1>
  </div>
  <mat-divider></mat-divider>

  <div class="time-container">
    <h1 class="time">{{ stopWatchTime }}</h1>
  </div>

  <form style="display: flex; justify-content: center; align-items: center; margin: 16px 0">
    <label class="custom-label" for="uploadProfilePicture"></label>
    <input id="uploadProfilePicture" class="uploadInput" type="file" accept="{{ allowedTypes }}" (change)="onFileSelected($event.target)">
  </form>
</div>
