################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# .NET
/Backend/StopWatch/bin/
/Backend/StopWatch/obj/
/Backend/StopWatch/.vs/
/Backend/StopWatch/*.dll
/Backend/StopWatch/*.exe
/Backend/StopWatch/appsettings*.json
/Backend/StopWatch/secrets.json
/Backend/StopWatch/Migrations/
/Backend/StopWatch/*.pdb

# Angular
/Frontend/node_modules/
/Frontend/dist/
/Frontend/.angular/cache/
/Frontend/src/environments/environment*.ts

# Allgemein
*.log
logs/
*.tmp
*.swp
.DS_Store
Thumbs.db
