################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/StopWatch/.vs/StopWatch
/Backend/StopWatch/bin/Debug/net6.0
